<div class="sidebar">
  <div class="sidebar-header">
    <h1>Jimin's Portfolio</h1>
    <div class="subtitle">Backend Developer</div>
  </div>

  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/techstack.html">Tech Stack</a></li>

    <li class="menu-group">
      <div class="menu-title">Projects</div>
      <ul class="submenu">
        <li><a href="projects/tabletopia.html">Tabletopia</a></li>
        <li><a href="projects/wms.html">WMS</a></li>
        <li><a href="projects/mininstagram.html">MiniInstagram</a></li>
        <li><a href="projects/peachstore.html">Peach-Store</a></li>
      </ul>
    </li>

    <li><a href="https://github.com/Shypanda0119" target="_blank">GitHub</a></li>
  </ul>
</div>
