<div class="sidebar">
  <h1 class="sidebar-title">Jimin's Portfolio</h1>

  <ul class="sidebar-nav">
    <li><a href="/">Home</a></li>

    <li><a href="/techstack.html">Tech Stack</a></li>

    <li>
      Projects
      <ul>
        <li><a href="/projects/tabletopia.html">Tabletopia</a></li>
        <li><a href="/projects/wms.html">WMS</a></li>
        <li><a href="/projects/mininstagram.html">MiniInstagram</a></li>
        <li><a href="/projects/peachstore.html">Peach-Store</a></li>
      </ul>
    </li>

    <li><a href="/contact.html">Contact</a></li>
    <li><a href="https://github.com/Shypanda0119" target="_blank">GitHub</a></li>
  </ul>
</div>
